body {
    font-family: 'Roboto', sans-serif;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #444;
    font-size: 14px;
  }
  
  /* Barra de navegação */
  header, .navbar {
    background-color: #fbe6e5;
  }
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #logo {
    width: 110px;
    border: 1px solid #bf8a39;
  }
  
  .navbar-brand {
    padding: 0;
    color: #bf8a39;
  }
  
  .navbar-brand:hover {
    color: #bf8a39;
  }
  
  #navbar-links a {
    color: #bf8a39;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #bf8a39;
  }
  
  .navbar-toggler-icon{
    background-color: #bf8a39;
  }

  