* {
    margin: 0;
    padding: 0;
}
main {
    background-color: rgba(255, 230, 234, 0.6);
  }

.container {
    
    margin: 0px 20px;
    margin-top: 8%;
}
.row{
    margin-bottom: 5%;
}

.textoQS {
    padding-top: 10%;
}

.textoQS h2 {
    color: #bf8a39;
    padding-bottom: 20px;
}

.card img {
    height: 100px;
    width: 100px;
}

.card-img-top {
    margin-top: 30px;
}

.card-body, .tituloValores {
    color: #bf8a39
    ;
}

.tituloValores {
    color: #bf8a39;
    margin-bottom: 20px;
}