/* .divServicos img {
    height: 350px;
    margin-top: 40px;
} */

.imgBannerRel img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}
   

.tituloServicos {
    color: #bf8a39;
    padding-bottom: 15px;
    margin-top: 50px;
}

.h6 {
    padding-left:20px;
}

.ultimoP {
    margin-bottom: 40px;
}